node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env

dist/
build/
*.tsbuildinfo

logs/
*.log
pids/
*.pid
*.seed

.DS_Store
Thumbs.db

*.sqlite
*.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

.expo/
.expo-shared/
*.expo.*
*.expo-shared/

.env.example
